body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ----------HEADER------------ */

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #111;
  letter-spacing: -0.02em;
}

/* ----------HERO------------ */

.hero {
  background-color: #1e1823;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
.hero-btn-orange {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.hero-btn-shadow {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.hero-btn-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

/* ----------FEATURES------------ */

.features {
  background-color: #1e1823;
}
.features-list {
}
.features-item {
}
.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #fff;
}
.feature-description {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
